@inject IProductosVData ProductosVData
@inject ISeccionesVData SeccionesVData
@inject NotificationService NotificationService
@inject IVaribleData VariableData
@inject IGlobalData GlobalData
@inject INotifiRadzenServices  NotifiRadzenServices

<RadzenRow class="rz-text-align-Left">
    <RadzenColumn Size="3">
        @if(productos is not null){
            <div class="rz-p-sm-2 rz-text-align-left">
                <RadzenLabel Text="Productos" />
                <RadzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                    TValue="int" Data=productos TextProperty="DescProducto" ValueProperty="IdProducto" AllowClear="true" @bind-Value=idProducto Style="width: 100%; max-width: 350px;min-width: 90px;" Change="@(arg => Set())">
                </RadzenDropDown>
            </div>
        }else{
            <CargandoSelect />
        }
    </RadzenColumn>
    <RadzenColumn Size="3">
        @if(secciones is not null){
            <div class="rz-p-sm-2 rz-text-align-left">
                <RadzenLabel Text="Secciones" />
                <RadzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                    TValue="int" Data=secciones TextProperty="Seccion" ValueProperty="IdSeccion" AllowClear="true" @bind-Value=idSeccion Style="width: 100%; max-width: 350px;min-width: 90px;" Change="@(arg => Set())">
                </RadzenDropDown>
            </div>
        }else{
            <CargandoSelect />
        }
    </RadzenColumn>

    <RadzenColumn Size="3">
        @if(clasificacion is not null){
            <div class="rz-p-sm-2 rz-text-align-left">
                <RadzenLabel Text="Clasificacion" />
                <RadzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                    TValue="int" Data=clasificacion TextProperty="Clasificacion" ValueProperty="IdClasiVar" AllowClear="true" @bind-Value=idClasiVar Style="width: 100%; max-width: 350px;min-width: 90px;" Change="@(arg => Set())">
                </RadzenDropDown>
            </div>
        }else{
            <CargandoSelect />
        }
    </RadzenColumn>
    
</RadzenRow>

@code {
    [Parameter]
    public int idLinea { get; set; } = 0;

    [Parameter]
    public EventCallback<int> OnChangeProducto { get; set; }
    [Parameter]
    public EventCallback<int> OnChangeSeccion { get; set; }
    [Parameter]
    public EventCallback<int> OnChangeClasificacion { get; set; }
    public int idProducto {get; set;} = 0;
    public int idSeccion {get; set;} = 0;
    public int idClasiVar {get; set;} = 0;
    public int valueLinea { get; set; } = 0;
    List<ProductosV>? productos = null;
    List<SeccionesV>? secciones = null;
    List<VarClasificacionV>? clasificacion = null;
    List<OrdenFabricacionDTO> ordenFabricacionDTOList = new List<OrdenFabricacionDTO>();
    protected override async Task OnParametersSetAsync()
    {
        if(idLinea != 0 && idLinea != valueLinea){
            valueLinea = idLinea;

            int cantidadProductos;
            SeccionesV todas = new SeccionesV();
            todas.IdMaster = 0;
            todas.IdLinea = 0;
            todas.IdSeccion = 0;
            todas.Seccion = "Todas";
            todas.Estado = true;

            productos = null;
            secciones = null;
            clasificacion = null;

            ordenFabricacionDTOList = await GlobalData.GetProductosActuales(idLinea);
            productos = await ProductosVData.GetProductosPorLinea(idLinea);
            secciones = await SeccionesVData.GetSeccionesPorLinea(idLinea);
            secciones.Add(todas);
            clasificacion = await VariableData.GetClasificacionVarPorLinea(idLinea);

            cantidadProductos = ordenFabricacionDTOList.Count;

            if(cantidadProductos != 0){
                productos.RemoveAll(p => ordenFabricacionDTOList.All(o => o.CodProducto != p.Codigo));
                productos.ForEach(f => f.DescProducto = ordenFabricacionDTOList.Where(o => o.CodProducto.Equals(f.Codigo)).First().DescProducto);
            }else{
                productos.ForEach(f => f.DescProducto ??= f.Codigo);
                NotificationService.Notify(NotifiRadzenServices.Notificacion("advertencia","","No se encontro ordenes de fabricacion abiertas"));
            }
        }
        valueLinea = idLinea;
    }
    public void searchTextChanged(string text)
    {
        StateHasChanged();
    }

    private async Task Set()
    {
        await OnChangeProducto.InvokeAsync(idProducto);
        await OnChangeSeccion.InvokeAsync(idSeccion);
        await OnChangeClasificacion.InvokeAsync(idClasiVar);
    }

}