.variableMax {
    min-height: 72px;
    border-radius: 4px;
    box-shadow: 3px 0 4px -2px #888;
    background-color: var(--rz-danger-light);
}

.variableMin {
    border-radius: 4px;
    box-shadow: 3px 0 4px -2px #888;
    min-height: 72px;
    background-color: var(--rz-warning-light);
}
.cortecargado {
    background-color: #27ac42ac;
    border-radius: 4px;
    box-shadow: 3px 0 4px -2px #888;
}

.unidad-badge {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px;
    text-transform: none !important;
}
.textarea, .textarea:active {
    resize: none !important;
    height: 200px !important;
    width: 500px !important; 
   
}
.rz-switch.rz-switch-checked .rz-switch-circle {
    background: #09c718 !important;
}
.rz-switch .rz-switch-circle .rz-switch-circle::before{
    background: #888 !important; 
}
.rz-switch-circle::before {
    background: #edeae9 !important;
}
.rz-button .rz-primary .rz-button-md {
    background-color: rgb(0,120,86) !important;
}
.rz-button.rz-primary.rz-shade-default {
    background-color: rgb(0,120,86) !important;
}

.rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
    color: var(--rz-base-900);
    font-size: var(--rz-grid-cell-font-size);
    line-height: var(--rz-grid-cell-line-height);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

