:root {
    --rz-grid-header-color: white !important;  /* Color del texto del encabezado */
    --rz-grid-header-background-color: rgb(0, 120, 83) !important;  /* Color de fondo del encabezado */
    --rz-grid-header-font-size: 1.1em !important;
    --rz-grid-header-font-weight: 800;
}
.tableImpresion tr{
    text-align: center;
}


.encabezadoTableImpresion{
    color: white;
    background-color: rgb(0, 120, 83);
    font-size: 1.1em;
    font-weight: 800;
    width: 14%;
    text-align: center;
}

.encabezadoTableImpresion th{
    padding: 6px;
    border: solid 1px black;
}

.tableImpresion tr td{

    border: solid 0.5px black;
    height: 40px;
}

.separadorTablaImpresion{
    border: #000 3px solid;
    height:10%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.cajaFirma{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 5%;
}
.firma{
    border-top: 1px solid #000; 
    margin: 20px 0;
    width: 20%;
}


.rz-grid-table-fixed .rz-frozen-cell-left,
.rz-grid-table-fixed .rz-frozen-cell-right,
.rz-grid-table-fixed .rz-frozen-cell-left-inner,
.rz-grid-table-fixed .rz-frozen-cell-right-inner {
    background-color:rgb(0, 120, 83) !important;
}
